name: Latest blog post workflow

on:
  schedule:
    - cron: '*/30 * * * *'
  workflow_dispatch: 

permissions:
  contents: write

jobs:
  update-readme-with-blog:
    name: Update this repo's README with latest blog posts
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      
      - uses: gautamkrishnar/blog-post-workflow@master
        with:
          feed_list: "https://couuas.github.io/rss.xml" 
          max_post_count: 5
          template: "- [$title]($url) ($date)"
          date_format: "yyyy-mm-dd"
